:root {
    /* Core colours /
    / https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
    --colour-pink: #f09292;
    --colour-lightgray: #d8d8d8;
    
    --dark-text-colour: rgb(19, 19, 22);
    --medium-text-colour: rgb(150, 66, 66);

    --leftgradient-colour: rgb(255, 221, 221);
    --rightgradient-colour: rgb(255, 239, 239);

    /* Body configuration */
    --body-background-colour: rgb(255, 177, 177);
  }


  body {
    margin: 0;
    font-family: "indivisible", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--body-background-colour);
    color: var(--dark-text-colour);
  }

  .content {
    display: grid;
    grid-template-areas: "sidebar content" auto;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar {
    grid-area: sidebar;
    height: 100%;
    width: 250px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    list-style: none;
  }

  /* General style for the logo */
  .logo {
    display: block;
    margin-bottom: 120px;
  }

  .logo-image {
    width: 250px;
    border-bottom: double var(--dark-text-colour);
  }

  /* Style for the links in the sidebar */
  .sidebar-links {
    list-style: none;
    position: relative;
    margin-left: -30px;
  }

  .sidebar-links li a {
    color: var(--dark-text-colour);
    text-decoration: none;
    display: flex;
    padding: 5px 0px;
  }

  /* Style for the h2 text in the sidebar (Categories and All Lists) */
  .sidebar-links li h2 {
    color: var(--dark-text-colour);
    text-decoration: none;
  }

  .sidebar-links h3 {
    font-weight: 500;
  }

    /* Style for the h3 text in the sidebar (Not yet started, Working on it, and Completed) */
  .sidebar-links li h3 {
    color: var(--medium-text-colour);
    padding: 10px 0px;
  }

  .sidebar-links li a p {
    text-decoration: none;
    font-weight: lighter;
  }

  .sidebar-links li a p:hover {
    color: var(--colour-pink);
    transition: 0.3s;
  }

  .underline {
    display: inline-block;
    position: relative;
    margin-left: 10px;
  }

  .underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--colour-pink);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .logo-icon {
    display: none;
    width: 110px;
  }

  form {
    display: flex;
    padding-top: 20px;
  }
  
  .btn {
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
  }
  
  .btn.create {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 250ms ease-in;
  }

  .new-list-input {
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    outline: none;
    padding: 0.25em;
    transition: border-bottom 150ms ease-in;
    order: 2;
  }


  main {
    grid-area: content;
    margin-left: 200px;
    margin-bottom: 100px;
    font-family: "indivisible", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .list-title {
    font-family: "indivisible", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    color: black;
    margin-top: 30px;
    text-decoration: underline;
    align-items: center;
    justify-content: center;
    background: none;
    padding: 10px;
    border: 0px solid #a5a5a500;
  }

  .full-list {
    width: 850px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: white;
  }

  .text-todo {
    padding: 10px;
    width: 200%;
    border-radius: 5px;
    border: 1px solid #a5a5a5;
    font-size: 16px;
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  }

  .add-button {
    width: 30%;
    background-color: rgb(238, 121, 121);
    color: var(--dark-text-colour);
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    box-shadow: inset 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  }

  .add-button:hover {
    background-color: rgb(199, 107, 107);
    transition: 0.3s;
  }

  .tasks {
    width: 100%;
    margin-top: 30px;
  }


  main ul.todo-items {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  
  main ul.todo-items li {
    list-style: none;
    background: linear-gradient(to right, var(--leftgradient-colour), var(--rightgradient-colour));
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3); /* x offset, y offset, blur, spread, color (alpha = transparency) */
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    transition: all;
  }

  @keyframes add-new-item-annimation {
    from {
      transform: translateX(-10%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  .new-item-annimate {
    transform-origin: 10% 0;
    animation: add-new-item-annimation 0.3s linear;
  }

  .item-button {
    display: flex;
    gap: 10px;
  }

  .edit-button i {
    color: var(--dark-text-colour);
    font-size: 20px;
  }

  .delete-button i {
    color: var(--dark-text-colour);
    font-size: 20px;
  }

  /* When hovered over, the Edit and Delete icons increase in size and turn gray and red respectively */
  .edit-icon i:hover {
    color: rgb(145, 145, 145);
    transform: scale(1.3);
    transition: 0.3s;
  }

  .delete-icon i:hover {
    color: red;
    transform: scale(1.3);
    transition: 0.3s;
  }



  






  
  

  



















  

  /* Resizing for mobile screens */
  @media only screen and (max-width: 600px) {
    .sidebar {
      width: 110px;
    }

    .logo-icon {
      display: block;
    }

    .logo-image {
      display: none;
    }

    .sidebar-links li a {
      justify-content: center;
    }

    .sidebar-links li a p {
       display: none;
    }

    .sidebar-links li a h2 {
      display: none
    }

    .sidebar-links li a h3 {
      display: none
    }
    
    .sidebar-links li a img {
      margin-right: 0;
    }
  }




  /*
    Screen reader text utility class
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  } */
